In [13]:
from bs4 import BeautifulSoup
from selenium import webdriver
import time
import pandas as pd
import folium
from pymongo import MongoClient
import re
import requests
import json
from urllib.request import urlopen

In [4]:
url = "https://www.starbucks.co.kr/menu/drink_list.do"

browser = webdriver.Chrome()
browser.get(url)

browser.implicitly_wait(5)
html = browser.page_source
bs = BeautifulSoup(html, 'html.parser')

# 메뉴 정보를 찾아서 이미지 URL과 음료 이름을 리스트에 저장
drinks_data = []
drinks_wrapper = bs.findAll("li", {"class": re.compile("menuDataSet")})
for row in drinks_wrapper:
    img_tag = row.find("img")
    img_url = img_tag['src']
    title = img_tag['alt']
    # drinks_data.append({'title': title, 'img_url': img_url})

    a_tag = row.find("a")
    a_prod = a_tag['prod']

    drinks_data.append({'title': title, 'img_url': img_url, 'a_prod': a_prod})

df = pd.DataFrame(drinks_data)
print(df)

browser.quit()

               title                                            img_url  \
0      씨솔트 카라멜 콜드 브루  https://image.istarbucks.co.kr/upload/store/sk...
1        나이트로 바닐라 크림  https://image.istarbucks.co.kr/upload/store/sk...
2         나이트로 콜드 브루  https://image.istarbucks.co.kr/upload/store/sk...
3           돌체 콜드 브루  https://image.istarbucks.co.kr/upload/store/sk...
4           리저브 나이트로  https://image.istarbucks.co.kr/upload/store/sk...
..               ...                                                ...
154      한라봉주스 190ML  https://image.istarbucks.co.kr/upload/store/sk...
155     햇사과 주스 190ML  https://image.istarbucks.co.kr/upload/store/sk...
156     햇사과 주스 591ML  https://image.istarbucks.co.kr/upload/store/sk...
157  딸기 가득 요거트 190ML  https://image.istarbucks.co.kr/upload/store/sk...
158   블루베리 요거트 190ML  https://image.istarbucks.co.kr/upload/store/sk...

            a_prod
0    9200000004544
1    9200000002487
2    9200000000479
3    9200000002081
4    9200000002407
..             ...
154     5210008055
155  9300000002565
156  9300000004407
157  9300000003775
158     5210008063

[159 rows x 3 columns]

In [ ]:
drink_urls =[]
for cont in drinks_data:
    a_prod = cont['a_prod']  # a 태그의 'prod' 속성 값 가져오기
    link = f'https://www.starbucks.co.kr/menu/drink_view.do?product_cd={a_prod}'
    drink_urls.append(link)
drink_urls

In [ ]:
driver = webdriver.Chrome()

dic = []
for index, drink_url in enumerate(drink_urls):
# for index, drink_url in enumerate(drink_urls[:10]):
    driver.get(drink_url)
    
    html = urlopen(drink_url)

    name = driver.find_element('xpath', '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/h4').text
    # name = driver.find_element('xpath', '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/h4/span').text
    kcal = driver.find_element('xpath', '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/form/fieldset/div/div[2]/ul[1]/li[1]/dl/dd').text
    natrium = driver.find_element('xpath', '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/form/fieldset/div/div[2]/ul[2]/li[1]/dl/dd').text
    sat_FAT = driver.find_element('xpath', '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/form/fieldset/div/div[2]/ul[1]/li[2]/dl/dd').text
    sugars = driver.find_element('xpath', '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/form/fieldset/div/div[2]/ul[2]/li[2]/dl/dd').text
    protein = driver.find_element('xpath', '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/form/fieldset/div/div[2]/ul[1]/li[3]/dl/dd').text
    caffeine = driver.find_element('xpath', '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/form/fieldset/div/div[2]/ul[2]/li[3]/dl/dd').text
    print(name, kcal, natrium, sat_FAT, sugars, protein, caffeine)

    
    dic.append({'이름': name, '1회제공량(kcal)': kcal, '나트륨(mg)':natrium, '포화지방(g)': sat_FAT, '당류(g)': sugars, '단백질(g)': protein, '카페인(mg)': caffeine})
    # dic.append({'제목':title,'저자' : author,'출판사' : pub, '가격':price, 'Link':book_url})
pd.DataFrame(dic)

In [26]:
menu = pd.DataFrame(dic)

In [34]:
menu['이름'] = menu['이름'].str.split('\n').str[0]

In [42]:
df.rename(columns={'title':'이름'}, inplace=True)
df

,이름,img_url,a_prod
0,씨솔트 카라멜 콜드 브루,https://image.istarbucks.co.kr/upload/store/sk...,9200000004544
1,나이트로 바닐라 크림,https://image.istarbucks.co.kr/upload/store/sk...,9200000002487
2,나이트로 콜드 브루,https://image.istarbucks.co.kr/upload/store/sk...,9200000000479
3,돌체 콜드 브루,https://image.istarbucks.co.kr/upload/store/sk...,9200000002081
4,리저브 나이트로,https://image.istarbucks.co.kr/upload/store/sk...,9200000002407
...,...,...,...
154,한라봉주스 190ML,https://image.istarbucks.co.kr/upload/store/sk...,5210008055
155,햇사과 주스 190ML,https://image.istarbucks.co.kr/upload/store/sk...,9300000002565
156,햇사과 주스 591ML,https://image.istarbucks.co.kr/upload/store/sk...,9300000004407
157,딸기 가득 요거트 190ML,https://image.istarbucks.co.kr/upload/store/sk...,9300000003775
158,블루베리 요거트 190ML,https://image.istarbucks.co.kr/upload/store/sk...,5210008063

In [43]:
drink_menu = pd.merge(df, menu, on='이름')
drink_menu

,이름,img_url,a_prod,1회제공량(kcal),나트륨(mg),포화지방(g),당류(g),단백질(g),카페인(mg)
0,씨솔트 카라멜 콜드 브루,https://image.istarbucks.co.kr/upload/store/sk...,9200000004544,170,160,6,18,1,130
1,나이트로 바닐라 크림,https://image.istarbucks.co.kr/upload/store/sk...,9200000002487,80,40,2,10,1,232
2,나이트로 콜드 브루,https://image.istarbucks.co.kr/upload/store/sk...,9200000000479,5,5,0,0,0,245
3,돌체 콜드 브루,https://image.istarbucks.co.kr/upload/store/sk...,9200000002081,265,130,9,29,8,155
4,리저브 나이트로,https://image.istarbucks.co.kr/upload/store/sk...,9200000002407,5,0,0,0,0,190
...,...,...,...,...,...,...,...,...,...
162,한라봉주스 190ML,https://image.istarbucks.co.kr/upload/store/sk...,5210008055,,,,,,
163,햇사과 주스 190ML,https://image.istarbucks.co.kr/upload/store/sk...,9300000002565,,,,,,
164,햇사과 주스 591ML,https://image.istarbucks.co.kr/upload/store/sk...,9300000004407,,,,,,
165,딸기 가득 요거트 190ML,https://image.istarbucks.co.kr/upload/store/sk...,9300000003775,,,,,,
166,블루베리 요거트 190ML,https://image.istarbucks.co.kr/upload/store/sk...,5210008063,,,,,,

In [44]:
url = 'mongodb+srv://axz1420:dlgusdn113!@store.jvq4o15.mongodb.net/?retryWrites=true&w=majority&appName=store'
client = MongoClient(url)
database = client['starbucks']

In [45]:
records = drink_menu.to_dict(orient='records')
collection = database['drink_menu']
collection.insert_many(records)